fastapi==0.110.0
uvicorn==0.15.0
requests==2.22.0
beautifulsoup4==4.7.1
pydantic==2.6.3
aiohttp==3.8.1
gql==3.0.0
google-cloud-logging==2.7.0
pytz==2023.3.post1
pymongo==4.8.0
requests_toolbelt
meilisearch